<launch>
  <arg name="model" default="$(find simulation)/urdf/model.urdf"/>
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find simulation)/rviz/urdf.rviz" />

  <param name="robot_description" textfile="$(find simulation)/urdf/model.urdf" />
  <param name="use_gui" value="$(arg gui)"/>

  <node pkg="simulation" type="keyboard_vel_controller.py" name="keyboard_vel_controller"
        output="screen" />
  <node pkg="simulation" type="model_robot" name="model_robot"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>